# Clase 3

We need `seaborn`, which shall be included it in `requirements.txt` file

In [1]:
import pandas as pd
import numpy as np

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in /srv/conda/envs/notebook/lib/python3.8/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /srv/conda/envs/notebook/lib/python3.8/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install xlrd

Requirement already satisfied: xlrd in /srv/conda/envs/notebook/lib/python3.8/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install xlrd

Requirement already satisfied: xlrd in /srv/conda/envs/notebook/lib/python3.8/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
df= pd.read_excel('datasets/Canada.xlsx',
                  sheet_name='Canada by Citizenship',
                  skiprows = range(20),
                  skipfooter= 2,
                  engine= 'openpyxl'
                 )
df

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2012,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Immigrants,Foreigners,Afghanistan,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,16.0,...,2635.0,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Immigrants,Foreigners,Albania,908.0,Europe,925.0,Southern Europe,901.0,Developed regions,1.0,...,620.0,603.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Immigrants,Foreigners,Algeria,903.0,Africa,912.0,Northern Africa,902.0,Developing regions,80.0,...,3774.0,4331.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Immigrants,Foreigners,American Samoa,909.0,Oceania,957.0,Polynesia,902.0,Developing regions,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Immigrants,Foreigners,Andorra,908.0,Europe,925.0,Southern Europe,901.0,Developed regions,0.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.head(2)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2012,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Immigrants,Foreigners,Afghanistan,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,16.0,...,2635.0,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Immigrants,Foreigners,Albania,908.0,Europe,925.0,Southern Europe,901.0,Developed regions,1.0,...,620.0,603.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1013 entries, 0 to 1012
Columns: 51 entries, Type to Unnamed: 50
dtypes: float64(45), object(6)
memory usage: 403.7+ KB

In [8]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1013 entries, 0 to 1012
Data columns (total 51 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Type         197 non-null    object
 1   Coverage     197 non-null    object
 2   OdName       197 non-null    object
 3   AREA         197 non-null    float64
 4   AreaName     197 non-null    object
 5   REG          197 non-null    float64
 6   RegName      197 non-null    object
 7   DEV          197 non-null    float64
 8   DevName      197 non-null    object
 9   1980         197 non-null    float64
 10  1981         197 non-null    float64
 11  1982         197 non-null    float64
 12  1983         197 non-null    float64
 13  1984         197 non-null    float64
 14  1985         197 non-null    float64
 15  1986         197 non-null    float64
 16  1987         197 non-null    float64
 17  1988         197 non-null    float64
 18  1989         197 non-null    float64
 19  1990         197 non-null    float64
 20  1991         197 non-null    float64
 21  1992         197 non-null    float64
 22  1993         197 non-null    float64
 23  1994         197 non-null    float64
 24  1995         197 non-null    float64
 25  1996         197 non-null    float64
 26  1997         197 non-null    float64
 27  1998         197 non-null    float64
 28  1999         197 non-null    float64
 29  2000         197 non-null    float64
 30  2001         197 non-null    float64
 31  2002         197 non-null    float64
 32  2003         197 non-null    float64
 33  2004         197 non-null    float64
 34  2005         197 non-null    float64
 35  2006         197 non-null    float64
 36  2007         197 non-null    float64
 37  2008         197 non-null    float64
 38  2009         197 non-null    float64
 39  2010         197 non-null    float64
 40  2011         197 non-null    float64
 41  2012         197 non-null    float64
 42  2013         197 non-null    float64
 43  Unnamed: 43  0 non-null      float64
 44  Unnamed: 44  0 non-null      float64
 45  Unnamed: 45  0 non-null      float64
 46  Unnamed: 46  0 non-null      float64
 47  Unnamed: 47  0 non-null      float64
 48  Unnamed: 48  0 non-null      float64
 49  Unnamed: 49  0 non-null      float64
 50  Unnamed: 50  0 non-null      float64
dtypes: float64(45), object(6)
memory usage: 403.7+ KB

In [9]:
df.columns

Index([       'Type',    'Coverage',      'OdName',        'AREA',
          'AreaName',         'REG',     'RegName',         'DEV',
           'DevName',          1980,          1981,          1982,
                1983,          1984,          1985,          1986,
                1987,          1988,          1989,          1990,
                1991,          1992,          1993,          1994,
                1995,          1996,          1997,          1998,
                1999,          2000,          2001,          2002,
                2003,          2004,          2005,          2006,
                2007,          2008,          2009,          2010,
                2011,          2012,          2013, 'Unnamed: 43',
       'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47',
       'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'],
      dtype='object')

In [10]:
df.drop(['Type','Coverage','AREA','REG','DEV'],axis=1, inplace=True)
df.columns

Index([     'OdName',    'AreaName',     'RegName',     'DevName',
                1980,          1981,          1982,          1983,
                1984,          1985,          1986,          1987,
                1988,          1989,          1990,          1991,
                1992,          1993,          1994,          1995,
                1996,          1997,          1998,          1999,
                2000,          2001,          2002,          2003,
                2004,          2005,          2006,          2007,
                2008,          2009,          2010,          2011,
                2012,          2013, 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50'],
      dtype='object')

In [11]:
df.rename(columns={'OdName':'Country',
                   'AreaName':'Continent',
                   'RegName':'Region'},
          inplace= True)
df.head(2)

,Country,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,...,2012,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Afghanistan,Asia,Southern Asia,Developing regions,16.0,39.0,39.0,47.0,71.0,340.0,...,2635.0,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,Europe,Southern Europe,Developed regions,1.0,0.0,0.0,0.0,0.0,0.0,...,620.0,603.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df['Total']= df.iloc[:, 4:].sum(axis=1)
df.head(2)

,Country,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,...,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Total
0,Afghanistan,Asia,Southern Asia,Developing regions,16.0,39.0,39.0,47.0,71.0,340.0,...,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58639.0
1,Albania,Europe,Southern Europe,Developed regions,1.0,0.0,0.0,0.0,0.0,0.0,...,603.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15699.0

In [13]:
df.describe()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Total
count,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,...,197.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.013000e+03
mean,1453.167513,1306.000000,1230.203046,905.431472,896.162437,856.304569,1008.639594,1543.908629,1640.456853,1944.670051,...,2629.654822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.367070e+04
std,10784.524807,9449.373841,8864.905615,6503.149859,6452.570413,6155.858422,7205.630681,11045.558746,11809.252241,13939.908653,...,18838.224387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.219784e+05
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,45.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
50%,14.000000,10.000000,12.000000,12.000000,14.000000,17.000000,21.000000,33.000000,36.000000,45.000000,...,217.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
75%,266.000000,299.000000,299.000000,197.000000,207.000000,202.000000,257.000000,467.000000,476.000000,538.000000,...,852.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
max,143137.000000,128641.000000,121175.000000,89185.000000,88272.000000,84346.000000,99351.000000,152075.000000,161585.000000,191550.000000,...,259021.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.924212e+06

In [14]:
df.columns

Index([    'Country',   'Continent',      'Region',     'DevName',
                1980,          1981,          1982,          1983,
                1984,          1985,          1986,          1987,
                1988,          1989,          1990,          1991,
                1992,          1993,          1994,          1995,
                1996,          1997,          1998,          1999,
                2000,          2001,          2002,          2003,
                2004,          2005,          2006,          2007,
                2008,          2009,          2010,          2011,
                2012,          2013, 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50',       'Total'],
      dtype='object')

In [17]:
df[['Country', 1980,          1981,          1982,          1983,]]
df.set_index('Country', inplace=True)

In [18]:
df

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16.0,39.0,39.0,47.0,71.0,340.0,496.0,...,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58639.0
Albania,Europe,Southern Europe,Developed regions,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,603.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15699.0
Algeria,Africa,Northern Africa,Developing regions,80.0,67.0,71.0,69.0,63.0,44.0,69.0,...,4331.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69439.0
American Samoa,Oceania,Polynesia,Developing regions,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
Andorra,Europe,Southern Europe,Developed regions,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [19]:
df.loc[['Japan']]

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Total
Country,,,,,,,,,,,,,,,,,,,,,
Japan,Asia,Eastern Asia,Developed regions,701.0,756.0,598.0,309.0,246.0,198.0,248.0,...,982.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27707.0

In [23]:
condition1 = df['Continent']=='Asia'
condition2 = df['Region'] =='Southern Asia'
df[condition1 & condition2]

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16.0,39.0,39.0,47.0,71.0,340.0,496.0,...,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58639.0
Bangladesh,Asia,Southern Asia,Developing regions,83.0,84.0,86.0,81.0,98.0,92.0,486.0,...,3789.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65568.0
Bhutan,Asia,Southern Asia,Developing regions,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,487.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5876.0
India,Asia,Southern Asia,Developing regions,8880.0,8670.0,8147.0,7338.0,5704.0,4211.0,7150.0,...,33087.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,691904.0
Iran (Islamic Republic of),Asia,Southern Asia,Developing regions,1172.0,1429.0,1822.0,1592.0,1977.0,1648.0,1794.0,...,11291.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175923.0
Maldives,Asia,Southern Asia,Developing regions,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0
Nepal,Asia,Southern Asia,Developing regions,1.0,1.0,6.0,1.0,2.0,4.0,13.0,...,1308.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10222.0
Pakistan,Asia,Southern Asia,Developing regions,978.0,972.0,1201.0,900.0,668.0,514.0,691.0,...,12603.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241600.0
Sri Lanka,Asia,Southern Asia,Developing regions,185.0,371.0,290.0,197.0,1086.0,845.0,1838.0,...,2394.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,148358.0

In [22]:
df[condition]

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16.0,39.0,39.0,47.0,71.0,340.0,496.0,...,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58639.0
Armenia,Asia,Western Asia,Developing regions,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,207.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3310.0
Azerbaijan,Asia,Western Asia,Developing regions,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2649.0
Bahrain,Asia,Western Asia,Developing regions,0.0,2.0,1.0,1.0,1.0,3.0,0.0,...,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475.0
Bangladesh,Asia,Southern Asia,Developing regions,83.0,84.0,86.0,81.0,98.0,92.0,486.0,...,3789.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65568.0
Bhutan,Asia,Southern Asia,Developing regions,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,487.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5876.0
Brunei Darussalam,Asia,South-Eastern Asia,Developing regions,79.0,6.0,8.0,2.0,2.0,4.0,12.0,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600.0
Cambodia,Asia,South-Eastern Asia,Developing regions,12.0,19.0,26.0,33.0,10.0,7.0,8.0,...,288.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6538.0
China,Asia,Eastern Asia,Developing regions,5123.0,6682.0,3308.0,1863.0,1527.0,1816.0,1960.0,...,34129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,659962.0
"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,774.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9327.0
"China, Macao Special Administrative Region",Asia,Eastern Asia,Developing regions,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,284.0
Cyprus,Asia,Western Asia,Developing regions,132.0,128.0,84.0,46.0,46.0,43.0,48.0,...,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1126.0
Democratic People's Republic of Korea,Asia,Eastern Asia,Developing regions,1.0,1.0,3.0,1.0,4.0,3.0,0.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,388.0
Georgia,Asia,Western Asia,Developing regions,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,125.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2068.0
India,Asia,Southern Asia,Developing regions,8880.0,8670.0,8147.0,7338.0,5704.0,4211.0,7150.0,...,33087.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,691904.0
Indonesia,Asia,South-Eastern Asia,Developing regions,186.0,178.0,252.0,115.0,123.0,100.0,127.0,...,387.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13150.0
Iran (Islamic Republic of),Asia,Southern Asia,Developing regions,1172.0,1429.0,1822.0,1592.0,1977.0,1648.0,1794.0,...,11291.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175923.0
Iraq,Asia,Western Asia,Developing regions,262.0,245.0,260.0,380.0,428.0,231.0,265.0,...,4918.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69789.0
Israel,Asia,Western Asia,Developing regions,1403.0,1711.0,1334.0,541.0,446.0,680.0,1212.0,...,1945.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66508.0
Japan,Asia,Eastern Asia,Developed regions,701.0,756.0,598.0,309.0,246.0,198.0,248.0,...,982.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27707.0
Jordan,Asia,Western Asia,Developing regions,177.0,160.0,155.0,113.0,102.0,179.0,181.0,...,1255.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35406.0
Kazakhstan,Asia,Central Asia,Developing regions,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,348.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8490.0
Kuwait,Asia,Western Asia,Developing regions,1.0,0.0,8.0,2.0,1.0,4.0,4.0,...,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025.0
Kyrgyzstan,Asia,Central Asia,Developing regions,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2353.0
Lao People's Democratic Republic,Asia,South-Eastern Asia,Developing regions,11.0,6.0,16.0,16.0,7.0,17.0,21.0,...,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1089.0
Lebanon,Asia,Western Asia,Developing regions,1409.0,1119.0,1159.0,789.0,1253.0,1683.0,2576.0,...,2172.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115359.0
Malaysia,Asia,South-Eastern Asia,Developing regions,786.0,816.0,813.0,448.0,384.0,374.0,425.0,...,204.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24417.0
Maldives,Asia,Southern Asia,Developing regions,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0
Mongolia,Asia,Eastern Asia,Developing regions,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,952.0
Myanmar,Asia,South-Eastern Asia,Developing regions,80.0,62.0,46.0,31.0,41.0,23.0,18.0,...,262.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9245.0
Nepal,Asia,Southern Asia,Developing regions,1.0,1.0,6.0,1.0,2.0,4.0,13.0,...,1308.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10222.0
Oman,Asia,Western Asia,Developing regions,0.0,0.0,0.0,8.0,0.0,0.0,0.0,...,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,224.0
Pakistan,Asia,Southern Asia,Developing regions,978.0,972.0,1201.0,900.0,668.0,514.0,691.0,...,12603.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241600.0
Philippines,Asia,South-Eastern Asia,Developing regions,6051.0,5921.0,5249.0,4562.0,3801.0,3150.0,4166.0,...,29544.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,511391.0
Qatar,Asia,Western Asia,Developing regions,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,157.0
Republic of Korea,Asia,Eastern Asia,Developing regions,1011.0,1456.0,1572.0,1081.0,847.0,962.0,1208.0,...,4509.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,142581.0
Saudi Arabia,Asia,Western Asia,Developing regions,0.0,0.0,1.0,4.0,1.0,2.0,5.0,...,267.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3425.0
Singapore,Asia,South-Eastern Asia,Developing regions,241.0,301.0,337.0,169.0,128.0,139.0,205.0,...,141.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14579.0
Sri Lanka,Asia,Southern Asia,Developing regions,185.0,371.0,290.0,197.0,1086.0,845.0,1838.0,...,2394.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,148358.0
State of Palestine,Asia,Western Asia,Developing regions,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,462.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6512.0
Syrian Arab Republic,Asia,Western Asia,Developing regions,315.0,419.0,409.0,269.0,264.0,385.0,493.0,...,1009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31485.0
Tajikistan,Asia,Central Asia,Developing regions,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,503.0
Thailand,Asia,South-Eastern Asia,Developing regions,56.0,53.0,113.0,65.0,82.0,66.0,78.0,...,400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9174.0
Turkey,Asia,Western Asia,Developing regions,481.0,874.0,706.0,280.0,338.0,202.0,257.0,...,729.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31781.0
Turkmenistan,Asia,Central Asia,Developing regions,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,310.0
United Arab Emirates,Asia,Western Asia,Developing regions,0.0,2.0,2.0,1.0,2.0,0.0,5.0,...,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,836.0
Uzbekistan,Asia,Central Asia,Developing regions,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,167.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3368.0
Viet Nam,Asia,South-Eastern Asia,Developing regions,1191.0,1829.0,2162.0,3404.0,7583.0,5907.0,2741.0,...,2112.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97146.0
Yemen,Asia,Western Asia,Developing regions,1.0,2.0,1.0,6.0,0.0,18.0,7.0,...,217.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2985.0